<!DOCTYPE html>
<html lang="jp">
  <head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/tailwind.css" />
  </head>
  <body class="w-full mt-12 bg-base-100 text-base-content">
    {{ partial "header.html" . }}

    <main class="max-w-3xl px-4 py-8 mx-auto page-specific">
      <h1 class="mb-4 text-4xl font-bold">{{ .Title }}</h1>
      <article
        class="prose max-w-none prose-a:text-primary prose-code:bg-base-200 prose-code:rounded prose-code:px-1 prose-code:py-0.5"
      >
        {{ .Content }}
      </article>
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>
