<header class="shadow-lg navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="text-xl normal-case btn btn-ghost">42 起業部</a>
  </div>

  <div class="hidden navbar-center lg:navbar-end lg:flex">
    <ul class="px-1 menu menu-horizontal">
      <li><a href="#about">私たちについて</a></li>
      <li><a href="/project">プロジェクト</a></li>
      <li><a href="#contact">お問い合わせ</a></li>
    </ul>
  </div>

  <div class="navbar-end lg:hidden">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-7 h-7"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </label>
      <ul
        tabindex="0"
        class="z-10 p-2 mt-3 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
      >
        <li><a href="#about">私たちについて</a></li>
        <li><a href="/project">プロジェクト</a></li>
        <li><a href="#contact">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
</header>
