<div class="relative p-4 border rounded-lg shadow-md group">
  <img
    src="{{ .image }}"
    alt="{{ .name }}"
    class="object-cover object-center w-24 h-24 mx-auto rounded-full " />
  <h3 class="mt-4 text-xl font-bold text-center">{{ .name }}</h3>
  <p
    class="text-sm text-center text-white min-h-[1.5rem]"
    {{ if not .role }}
      style="visibility: hidden;"
    {{ end }}>
    {{ .role }}
  </p>

  {{ if .bio }}
    <!-- bio部分（吹き出し） -->
    <div
      class="absolute z-20 px-4 py-2 mt-2 text-sm text-white transition-opacity duration-300 transform -translate-x-1/2 rounded-md opacity-0 pointer-events-none bg-base-300 profile-bio left-1/2 top-full group-hover:opacity-100 group-hover:pointer-events-auto"
      style="margin-top: -100px; width: 250px; max-width: 80%;">
      {{ .bio }}
      <div
        class="absolute w-0 h-0 transform -translate-x-1/2 border-b-8 arrow border-x-8 border-x-transparent border-b-base-300 left-1/2 -top-2"></div>
    </div>
  {{ end }}


  <div class="flex justify-center gap-4 mt-4">
    {{ if .github }}
      <a
        href="{{ .github }}"
        target="_blank"
        rel="noopener noreferrer"
        class="w-6 h-6">
        <img src="/images/github.svg" alt="GitHub" class="w-6 h-6" />
      </a>
    {{ end }}
    {{ if .instagram }}
      <a
        href="{{ .instagram }}"
        target="_blank"
        rel="noopener noreferrer"
        class="w-6 h-6">
        <img src="/images/instagram.svg" alt="Instagram" class="w-6 h-6" />
      </a>
    {{ end }}
    {{ if .twitter }}
      <a
        href="{{ .twitter }}"
        target="_blank"
        rel="noopener noreferrer"
        class="w-6 h-6">
        <img src="/images/twitter.svg" alt="Twitter" class="w-6 h-6" />
      </a>
    {{ end }}
    {{ if .web }}
      <a
        href="{{ .web }}"
        target="_blank"
        rel="noopener noreferrer"
        class="w-6 h-6">
        <img
          src="/images/globe.svg
        "
          alt="Web"
          class="w-6 h-6" />
      </a>
    {{ end }}
    {{ if .other }}
      <a
        href="{{ .other }}"
        target="_blank"
        rel="noopener noreferrer"
        class="w-6 h-6">
        <img src="/images/link" alt="Other" class="w-6 h-6" />
      </a>
    {{ end }}
  </div>
</div>
