<script>
  (function () {
    const userLang = navigator.language || navigator.userLanguage;
    const supportedLanguages = ['ja', 'en', 'fr'];
    const defaultLanguage = 'ja';
    const siteBaseURL = '{{ .Site.BaseURL }}';

    const langCode = userLang.slice(0, 2);

    if (supportedLanguages.includes(langCode)) {
      const targetPath = `/${langCode}/`;
      if (!window.location.pathname.startsWith(targetPath)) {
        window.location.replace(siteBaseURL + targetPath);
      }
    } else {
      if (!window.location.pathname.startsWith(`/${defaultLanguage}/`)) {
        window.location.replace(siteBaseURL + `/${defaultLanguage}/`);
      }
    }
  })();
</script>
