<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "font.html" . }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-site-verification"
      content="NdSZB2Azdauk74o0iRcWVhPMRxxigr8tEAUUckhT9bc"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-XQZB5S637W"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-XQZB5S637W');
    </script>
    <title>{{ i18n "siteTitle" }}</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <script src="/scripts/main.js" type="module" defer></script>
  </head>
  <body class="bg-base-100 text-base-content">
    {{ partial "header.html" . }}

    <div class="relative min-h-screen hero bg-base-200">
      {{ partial "hero-background.html" . }}

      <div class="text-center hero-content">
        <div class="max-w-lg">
          <h1 class="text-5xl font-bold">{{ i18n "heroTitle" }}</h1>
          <p class="py-6">{{ i18n "heroSubtitle" | safeHTML }}</p>
          <a href="#about" class="btn btn-primary">{{ i18n "learnMore" }}</a>
        </div>
      </div>
    </div>

    <div id="about" class="container px-4 py-16 mx-auto">
      <h2 class="mb-10 text-4xl font-bold text-center">{{ i18n "aboutUs" }}</h2>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
        <div>
          <h3 class="text-2xl font-semibold">{{ i18n "visionTitle" }}</h3>
          <p class="mt-4">{{ i18n "visionContent" }}</p>
        </div>
        <div>
          <h3 class="text-2xl font-semibold">{{ i18n "activitiesTitle" }}</h3>
          <p class="mt-4">{{ i18n "activitiesContent" }}</p>
        </div>
      </div>
    </div>

    <div id="contact" class="py-16 bg-base-200">
      <div class="container mx-auto text-center">
        <h2 class="mb-6 text-4xl font-bold">{{ i18n "contactUs" }}</h2>
        <p class="mb-6">{{ i18n "contactMessage" }}</p>
        <a
          href="mailto:42tokyo.entrepreneur@gmail.com"
          class="btn btn-secondary"
        >
          {{ i18n "contactButton" }}
        </a>
      </div>
    </div>

    {{ partial "footer.html" . }}
  </body>
</html>
